*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #1b1c57;
}

.container {
  display: grid;
  grid-template-rows: 72rem;
}

.label-semibold, .label-medium, .label-small, .label, .semibold-text, .medium-text, .light-text, .subtitle, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Lexend", sans-serif;
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  text-transform: capitalize;
}

.heading-1 {
  font-weight: 900;
  font-size: 4rem;
}
.heading-1--primary {
  color: #10b981;
}

.heading-2 {
  font-weight: 600;
  font-size: 3.2rem;
}

.heading-3 {
  font-weight: 500;
  font-size: 2.4rem;
}

.heading-4 {
  font-weight: 500;
  font-size: 2rem;
}
.heading-4--grey3 {
  color: #626687;
}

.subtitle {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.33;
}

.light-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
}
.light-text--grey2 {
  color: #888b97;
}
.light-text--grey3 {
  color: #626687;
}

.medium-text {
  font-weight: 500;
  font-size: 1.6rem;
}
.medium-text--grey3 {
  color: #626687;
}

.semibold-text {
  font-weight: 600;
  font-size: 1.6rem;
}
.semibold-text--primary-dark {
  color: #0b9567;
}

.label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
}
.label--grey2 {
  color: #888b97;
}
.label--grey3 {
  color: #626687;
}
.label--orange {
  color: #f59e0b;
}

.label-small {
  font-weight: 400;
  font-size: 1.2rem;
}
.label-small--grey2 {
  color: #888b97;
}

.label-medium {
  font-weight: 500;
  font-size: 1.4rem;
}

.label-semibold {
  font-weight: 600;
  font-size: 1.4rem;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 2.4rem;
  width: 15.6rem;
  height: 4.8rem;
  background-color: #10b981;
  color: #ffffff;
}
.icon-button:focus {
  outline: none;
}
.icon-button > span {
  margin: auto;
  color: inherit;
}
.icon-button--short {
  width: 11.2rem;
}
.icon-button--long {
  width: 17.1rem;
}
.icon-button--dark-green {
  background-color: #ffffff;
  color: #0b9567;
  border: 1px solid #0b9567;
  border-radius: 10rem;
}

.circle-nav-btn {
  background-color: #ffffff;
  border: 1px solid #10b981;
  border-radius: 10em;
  padding: 1.2rem;
  width: 4.8rem;
  height: 4.8rem;
}
.circle-nav-btn--green {
  background-color: #10b981;
  color: #ffffff;
}
.circle-nav-btn:not(:last-child) {
  margin-right: 1.6rem;
}

.play-button {
  cursor: pointer;
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  position: relative;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}
.play-button__icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.button-small {
  border: 1px solid #ffffff;
  border-radius: 10rem;
  padding: 0.8rem 1.6rem;
  width: 10.2rem;
  height: 3.4rem;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  margin-right: 2.4rem;
}

.button-big {
  border: 1px solid #0b9567;
  border-radius: 10rem;
  padding: 1.2rem 2.4rem;
  width: 11.8rem;
  height: 4.8rem;
  background-color: #d1fae5;
  color: #0b9567;
}

.card {
  display: flex;
  width: fit-content;
  background-color: #ffffff;
  margin-right: 1.6rem;
  align-items: center;
  border-radius: 3.2rem;
  padding: 2.4rem;
  height: 10.4rem;
  box-shadow: 0 11rem 48rem 0 rgba(51, 51, 51, 0.06);
}
.card__images {
  display: flex;
  margin-right: 1.6rem;
}
.card__photo {
  height: 5.6rem;
  width: 5.6rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #fff;
}
.card__photo:not(:last-child) {
  margin-right: -2rem;
}

.house-card {
  width: 37.6rem;
}
.house-card:not(:last-child) {
  margin-right: 3.2rem;
}
.house-card__picture {
  position: relative;
  margin-bottom: 2.4rem;
}
.house-card__chip {
  position: absolute;
  display: flex;
  bottom: 1.6rem;
  left: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3.2rem;
  padding: 0.8rem 1.6rem;
  height: 3.4rem;
}
.house-card__chip__icon {
  margin-right: 0.8rem;
}
.house-card__chip--red {
  background-color: #fee2e2;
  color: #ef4444;
}
.house-card__chip--blue {
  background-color: #dbeafe;
  color: #1d4ed8;
}
.house-card__chip--green {
  background-color: #d1fae5;
  color: #0b9567;
}
.house-card__text {
  margin-bottom: 2.4rem;
}

.testimonial {
  position: absolute;
  top: 0;
  width: 78.4rem;
  margin: 0 3.2rem;
}
.testimonial__card {
  position: absolute;
  bottom: -7.6rem;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  padding: 3.2rem;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 8px 3.2rem 0 rgba(12, 21, 55, 0.09);
  width: 78%;
}
.testimonial__user-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial__rating {
  display: flex;
  align-items: center;
}
.testimonial__rating > img {
  margin-right: 1.6rem;
}

.person-info {
  display: flex;
  align-items: center;
}
.person-info__photo {
  margin-right: 1.6rem;
}

.cookie-banner {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 2.4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2.8rem;
  padding: 1.6rem 4rem;
  width: 46.5rem;
  height: 5.6rem;
  background-color: #d1fae5;
}
.cookie-banner__left {
  display: flex;
  align-items: center;
}
.cookie-banner__left > img {
  margin-right: 1.2rem;
}

.header-and-orange__stripe {
  transform: translateY(-1rem);
}
.header-and-orange__orange {
  transform: translateX(-3.5rem);
}

.header-and-orange-vertical {
  text-align: center;
}
.header-and-orange-vertical__stripe {
  display: block;
}
.header-and-orange-vertical > button {
  margin: 1.6rem auto;
}

.input, .select {
  border: 1px solid #e0e3eb;
  border-radius: 2.8rem;
  padding: 1.6rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  background-color: #ffffff;
}
.input:focus, .select:focus {
  outline: none;
}
.input select, .select select {
  display: none;
}

.search-complex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e0e3eb;
  border-radius: 2.8rem;
  background-color: #ffffff;
  padding: 0.4rem 0.4rem 0.4rem 2.4rem;
  height: 5.6rem;
}
.search-complex__input {
  margin-left: 2rem;
  border: none;
  transition: all 0.2s;
  width: 50%;
  margin-right: auto;
}
.search-complex__input:focus {
  outline: none;
}

.textarea {
  resize: none;
  height: 14.4rem;
  width: 100%;
  border-radius: 2.8rem;
  padding: 1.6rem 2.4rem;
  background-color: #ffffff;
  border: 1px solid #e0e3eb;
}
.textarea:focus {
  outline: none;
}

.checkbox {
  width: 2.4rem;
  height: 2.4rem;
  padding: 4px;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #10b981;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  margin-right: 0.8rem;
  content: url("/img/page/checkbox.svg");
}
.checkbox:checked {
  background-color: #10b981;
}

.margin-top-16 {
  margin-top: 1.6rem;
}

.margin-top-24 {
  margin-top: 2.4rem;
}

.margin-top-32 {
  margin-top: 3.2rem;
}

.margin-top-40 {
  margin-top: 4rem;
}

.margin-bottom-40 {
  margin-bottom: 4rem;
}

.left-right-padding-124 {
  padding: 0 12.4rem;
}

.top-padding-120 {
  padding-top: 12rem;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  top: 3.9rem;
  width: 100%;
}
.navbar__buttons {
  list-style: none;
  display: flex;
}
.navbar a {
  text-decoration: none;
}

.hero-section {
  display: flex;
  position: relative;
}
.hero-section__main {
  flex: 1;
  width: 50%;
  background: radial-gradient(circle at left top, #82f7ff 0%, #82ffd2 1%, #ffffff 40%);
}
.hero-section__main__content {
  padding-top: 18.2rem;
  padding-right: 10rem;
  padding-left: 12.4rem;
}
.hero-section__main__logos {
  display: flex;
  flex-wrap: nowrap;
}
.hero-section__main__logos img:not(:last-child) {
  margin-right: 3.2rem;
}
.hero-section__right {
  flex: 1;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.hero-section__right__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section__right__cards {
  position: absolute;
  display: flex;
  width: 120rem;
  bottom: 4.8rem;
  left: 4.8rem;
}

.featured-house {
  overflow: hidden;
}
.featured-house__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
}
.featured-house__buttons {
  display: flex;
}
.featured-house__buttons > li:not(:last-child) {
  margin-right: 2.7rem;
}
.featured-house__cards {
  display: flex;
}

.tour {
  display: flex;
  position: relative;
}
.tour__left {
  flex: 1;
  width: 50%;
  padding-right: 10rem;
}
.tour__left__details {
  display: grid;
  grid-template-columns: repeat(2, 19.3rem);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 5.3rem;
  row-gap: 1.6rem;
}
.tour__left__detail {
  display: flex;
  align-items: center;
}
.tour__left__detail > img:not(:last-child) {
  margin-right: 1.6rem;
}
.tour__left__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.2rem;
  border-top: 2px solid #e0e3eb;
}
.tour__right {
  flex: 1;
  width: 50%;
  text-align: center;
}
.tour__right__house {
  position: relative;
  display: inline-block;
}
.tour__right__house > button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tour__right__images {
  position: absolute;
  bottom: -4.3rem;
  left: -5rem;
}
.tour__blur {
  position: absolute;
  width: 60rem;
  height: 60rem;
  z-index: -100;
}
.tour__blur--yellow {
  top: -15rem;
  right: 0;
  background: radial-gradient(circle at 80% 50%, rgba(255, 153, 130, 0.5764705882) 0%, transparent 50%);
}
.tour__blur--orange {
  top: 0;
  right: 0;
  background: radial-gradient(circle at 100% 50%, rgba(255, 251, 130, 0.7294117647) 0%, transparent 50%);
}

.testimonials {
  overflow: hidden;
}
.testimonials__slider {
  height: 50.5rem;
  max-width: 78.4rem;
  margin: 0 auto;
  position: relative;
}

.find-more {
  position: relative;
}

.find-more-articles {
  display: flex;
}
.find-more-articles__small {
  flex: 1;
  width: 50%;
  padding-right: 1.6rem;
}
.find-more-articles__small__article {
  height: 14.8rem;
  display: flex;
  align-items: center;
}
.find-more-articles__small__article > img {
  margin-right: 3.2rem;
}
.find-more-articles__small__article:not(:last-child) {
  margin-bottom: 3.2rem;
}
.find-more-articles__big {
  flex: 1;
  width: 50%;
  padding-left: 1.6rem;
}
.find-more-articles__big > img {
  margin-bottom: 2.4rem;
}
.find-more-articles__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.find-more-articles__description__person {
  display: flex;
  align-items: center;
}
.find-more-articles__description__person > img {
  margin-right: 1.6rem;
}
.find-more-articles__description > p {
  margin-top: 1.2rem;
}
.find-more-articles__description__time {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
}
.find-more-articles__description__time > img {
  margin-right: 1.2rem;
}

.find-more-blur {
  position: absolute;
  width: 60rem;
  height: 60rem;
  z-index: -100;
  left: 0;
}
.find-more-blur--blue {
  top: 10rem;
  background: radial-gradient(circle at 5% 50%, rgba(130, 255, 232, 0.6196078431) 0%, transparent 50%);
}
.find-more-blur--green {
  top: 25rem;
  background: radial-gradient(circle at 5% 50%, rgba(201, 255, 130, 0.5882352941) 0%, transparent 50%);
}

.subscribe__banner {
  position: relative;
  height: 31.2rem;
  background: url("/img/subscribe/banner.png");
  background-size: cover;
  border-radius: 3rem;
}
.subscribe__form {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 41.6%;
}
.subscribe__form > p {
  margin-bottom: 4rem;
  text-align: center;
}
.subscribe__left1-pic {
  position: absolute;
  top: 3.8rem;
  left: 4rem;
}
.subscribe__left2-pic {
  position: absolute;
  top: 7.1rem;
  left: 20rem;
}
.subscribe__left3-pic {
  position: absolute;
  top: 17.3rem;
  left: 6.3rem;
}
.subscribe__left4-pic {
  position: absolute;
  top: 17.8rem;
  left: 19.1rem;
}
.subscribe__right1-pic {
  position: absolute;
  top: 4.4rem;
  right: 19.6rem;
}
.subscribe__right2-pic {
  position: absolute;
  top: 10.7rem;
  right: 7.8rem;
}
.subscribe__right3-pic {
  position: absolute;
  top: 14.3rem;
  right: 19.6rem;
}
.subscribe__right4-pic {
  position: absolute;
  top: 19.7rem;
  right: 6.9rem;
}

.form {
  display: flex;
  min-height: 68.2rem;
}

.form-left, .form-right {
  box-shadow: 0 0.8rem 3.2rem 0 rgba(12, 21, 55, 0.09);
  padding: 4rem;
  border-radius: 0.8rem;
}

.form-left {
  width: 41%;
  margin-right: 1.6rem;
  padding: 4rem;
  text-align: center;
  background: radial-gradient(circle at 45% 70%, rgba(184, 255, 130, 0.2156862745) 0%, rgba(130, 186, 255, 0.1960784314) 20%, #ffffff 40%);
}
.form-left__paragraphs {
  padding: 2.8rem 0;
}
.form-left__paragraphs > p:not(:first-child) {
  position: relative;
  margin-top: 2.4rem;
  padding-top: 2.4rem;
}
.form-left__paragraphs > p:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 4rem;
  height: 2px;
  background-color: #10b981;
}

.form-right {
  width: 59%;
  margin-left: 1.6rem;
}
.form-right__label {
  width: 10.6rem;
}
.form-right__row {
  display: flex;
}
.form-right__row:not(:first-child) {
  margin-top: 2.8rem;
}
.form-right__row > p {
  margin-top: 1.6rem;
}
.form-right__consent {
  margin-top: 2.8rem;
  margin-left: 10.6rem;
  display: flex;
}

.footer {
  display: flex;
  padding-bottom: 12rem;
  position: relative;
}
.footer__left {
  width: 41%;
  margin-right: 1.6rem;
}
.footer__left > p {
  margin-top: 1.6rem;
}
.footer__logos {
  margin-top: 2.4rem;
  display: flex;
}
.footer__logos > img {
  margin-right: 2.4rem;
}
.footer__right {
  display: flex;
  width: 59%;
  margin-left: 1.6rem;
  justify-content: space-between;
}
.footer__column > .subtitle {
  margin-bottom: 2.4rem;
}
.footer__column > .label:not(:first-child) {
  margin-top: 1.6rem;
}
.footer__blur {
  position: absolute;
  width: 60rem;
  height: 60rem;
  z-index: -100;
}
.footer__blur--green {
  top: -10rem;
  right: 0;
  background: radial-gradient(circle at 60% 60%, rgba(184, 255, 130, 0.6196078431) 0%, transparent 50%);
}
.footer__blur--blue {
  top: -10rem;
  right: 0;
  background: radial-gradient(circle at 100% 50%, rgba(130, 186, 255, 0.568627451) 0%, transparent 40%);
}

/*# sourceMappingURL=style.css.map */
