@use "mixins" as *;

//COLOR MONOCHROME
$color-white: #ffffff;
$color-grey1: #e0e3eb;
$color-grey2: #888b97;
$color-grey3: #626687;

//COLOR COLORFUL
$color-primary: #10b981;
$color-primary-dark: #0b9567;
$color-primary-light: #d1fae5;

$color-secondary: #f59e0b;
$color-black: #1b1c57;

$color-danger: #ef4444;
$color-danger-light: #fee2e2;

$color-info: #1d4ed8;
$color-info-light: #dbeafe;

//FONT VARIABLES
$font-primary: 'Lexend', sans-serif;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    
    @include respond(tab-land) { // width < 1200?
        font-size: 50%; //1 rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) { // width < 900?
        font-size: 42%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(tab-port-small) { // width < 900?
        font-size: 35%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 80%; //1rem = 14, 14/16
    }
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.5;
    color: $color-black;
}

.icon {
    width: 2.4rem;
    height: 2.4rem;

    &--logo {
        width: 11.5rem;
        height: 3.6rem;
    }

    &--partner {
        width: 8.2rem;
        height: 6.4rem;
    }

    &--social {
        width: 3.2rem;
        height: 3.2rem;
    }
}