
%regular-font {
    font-family: $font-primary;
}

%heading-font {
    @extend %regular-font;
    text-transform: capitalize;
}

.heading-1 {
    @extend %heading-font;
    font-weight: 900;
    font-size: 4rem;

    &--primary { color: $color-primary; }
}

.heading-2 {
    @extend %heading-font;
    font-weight: 600;
    font-size: 3.2rem;

    // &--light { color: $color-grey-light-1; }
    // &--dark { color: $color-grey-dark-1; }
}

.heading-3 {
    @extend %heading-font;
    font-weight: 500;
    font-size: 2.4rem;
}

.heading-4 {
    @extend %heading-font;
    font-weight: 500;
    font-size: 2rem;

    &--grey3 {
        color: $color-grey3;
    }
}

.subtitle {
    @extend %regular-font;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.33;
}

.light-text {
    @extend %regular-font;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;

    &--grey2 {
        color: $color-grey2
    }
}

.medium-text {
    @extend %regular-font;
    font-weight: 500;
    font-size: 1.6rem;

    --grey3 {
        color: $color-grey3
    }
}

.semibold-text {
    @extend %regular-font;
    font-weight: 600;
    font-size: 1.6rem;
}

.label {
    @extend %regular-font;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;

    &--grey2 {
        color: $color-grey2;
    }

    &--orange {
        color: $color-secondary;
    }
}

.label-small {
    @extend %regular-font;
    font-weight: 400;
    font-size: 1.2rem;
}

.label-medium {
    @extend %regular-font;
    font-weight: 500;
    font-size: 1.4rem;
}

.label-semibold {
    @extend %regular-font;
    font-weight: 600;
    font-size: 1.4rem;
}