@use "../mixins";

.btn {
    @include btn-style($color-primary, $color-white);
    @include hover-effect($color-secondary);
    
    & > span {
        margin: auto;
    }

    &--short {
        width: 11.2rem;
    }

    &--long {
        width: 17.1rem;
    }

    &--dark-green {
        background-color: $color-white;
        color: $color-primary-dark;
        border: 1px solid $color-primary-dark;
        @include hover-effect($color-grey1, $color-primary-dark);
    }
}

.circle-nav-btn {
    @include hover-effect($color-primary-dark);

    cursor: pointer;
    border: 1px solid $color-primary;  
    background-color: $color-primary;
    color: $color-white;
    border-radius: 10em;
    padding: 1.2rem;
    width: 4.8rem;
    height: 4.8rem;

    &__disabled {
        &:hover { background-color: $color-white; }

        cursor: auto;
        background-color: $color-white;
    }

    &:first-child { margin-right: 1.6rem; }

    svg { transform: translate(-1px, -1px); }
}

.nav-btn-small {
    @include btn-style(transparent, $color-white, 1px solid $color-white);
    padding: .8rem 1.6rem;
    width: 10.2rem;
    height: 3.4rem;
    margin-right: 2.4rem;
    
    @include hover-effect($color-grey1);
}

.nav-btn-big {
    @include btn-style($color-primary-light, $color-primary-dark, 1px solid $color-primary-dark);
    width: 11.8rem;
    height: 4.8rem;
    @include hover-effect($color-primary);
}

.play-btn {
    cursor: pointer;
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10rem;
    backdrop-filter: blur(3px);

    &__icon {
        @include absCenter;
        margin-left: 2px;
    }
}