.cookie-banner {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 2.4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2.8rem;
    padding: 1.6rem 4rem;
    width: min(46.5rem, 70%);
    height: 5.6rem;
    background-color: $color-primary-light;
    transition: all .3s ease;
    z-index: 10000;

    &__left {
        display: flex;
        align-items: center;

        & > img {
            margin-right: 1.2rem;
        }
    }
}

.btn-close-cookies {
    cursor: pointer;
}

.close-cookies {
    display: none;

    &:checked ~ .cookie-banner {
        opacity: 0;
        visibility: hidden;
    }
}