.input, .select {
    border: 1px solid $color-grey1;
    border-radius: 2.8rem;
    padding: 1.6rem 2.4rem;
    width: 100%;
    height: 5.6rem;
    background-color: $color-white;

    &:focus {
        outline: none;
    }

    & select {
        display: none;
    }
}

.search-complex {
    transition: all .2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $color-grey1;
    border-radius: 2.8rem;
    background-color: $color-white;
    padding: .4rem .4rem .4rem 2.4rem;
    height: 5.6rem;

    &__input {
        margin-left: 2rem;
        border: none;
        transition: all .2s;
        width: 50%;
        margin-right: auto;

        &:focus {
            outline: none;
        }

    }

    &__error {
        transition: opacity .2s;
        opacity: 0;
        position: absolute;
        top: 7rem;
        left: 4rem;
    }
    
    &:has(.search-complex__input:focus:invalid) {
        border-color: $color-danger;
    }
    
    &:has(.search-complex__input:focus:invalid) .search-complex__error {
        opacity: 1;
    }
}


.textarea {
    resize: none;
    height: 14.4rem;
    width: 100%;
    border-radius: 2.8rem;
    padding: 1.6rem 2.4rem;
    background-color: $color-white;
    border: 1px solid $color-grey1;

    &:focus {
        outline: none;
    }
}

.checkbox {
    width: 2.4rem;
    height: 2.4rem;
    padding: 4px;
    appearance: none;
    background-color: $color-white;
    border: 1px solid $color-primary;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all .2s;
    margin-right: .8rem;
    content: url('/img/page/checkbox.svg');

    &:checked {
        background-color: $color-primary;
    }
}
