.find-more { position: relative; }

.find-more-articles {
    display: flex;
    gap: 3.2rem;
    transition: all 1s;
    align-items: stretch;
    max-height: 50.8rem;
    overflow-y: hidden;

    &__small {
        cursor: pointer;
        flex: 1;
        width: 50%;
        
        &__article {
            height: 14.8rem;
            display: flex;
            align-items: center;
            

            & > img {
                width: 20rem;
                height: 14.8rem;
                margin-right: 3.2rem;
                object-fit: cover;
                border-radius: 1.6rem;
            }

            &:not(:last-child) {
                margin-bottom: 3.2rem;
            }
        }
    }
    
    &__big {
        transition: all 1s;
        flex: 1;
        width: 50%;

        & > img {
            margin-bottom: 2.4rem;
            width: min(58rem, 100%);
            height: 28rem;
            object-fit: cover;
            border-radius: 1.6rem;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__person {
            display: flex;
            align-items: center;

            & > img {
                margin-right: 1.6rem;
                width: 3.2rem;
                height: 3.2rem;
            }
        }

        & > p {
            margin-top: 1.2rem;
        }
        
        &__time {
            display: flex;
            align-items: center;
            margin-top: 1.6rem;

            & > img {
                margin-right: 1.2rem;
            }
        }
    }
}

.find-more-blur {
    position: absolute;
    width: 60rem;
    height: 60rem;
    z-index: -100;
    left: 0;

    &--blue {
        top: 10rem;

        background: radial-gradient(circle at 5% 50%, #82ffe89e 0%, transparent 50%);
    }

    &--green {
        top: 25rem;
        background: radial-gradient(circle at 5% 50%, #c9ff8296 0%, transparent 50%);
    }
}

.btn-toggle-articles {
    margin: 1.6rem auto 4.7rem;
}

.toggle-articles {
    display: none;
}

.toggle-articles:checked ~ .find-more-articles {
    max-height: 110rem;
}

.toggle-articles:checked ~ .find-more-articles .find-more-articles__big {
    transform: translateY(20%);
}
