.footer {
    display: flex;
    gap: 3.2rem;
    padding-bottom: 12rem;
    position: relative;

    &__left {
        width: 41%;

        & > p {
            margin-top: 1.6rem;
        }
    }

    &__logos {
        margin-top: 2.4rem;
        display: flex;

        & > img {
            margin-right: 2.4rem;
        }
    }

    &__right {
        display: flex;
        width: 59%;
        justify-content: space-between;
    }

    &__column {

        & > .subtitle {
            margin-bottom: 2.4rem;
        }

        & > .label:not(:first-child) {
            margin-top: 1.6rem;
        }
    }

    &__blur {
        position: absolute;
        width: 60rem;
        height: 60rem;
        z-index: -100;

        &--green {
            top: -10rem;
            right: 0;
            background: radial-gradient(circle at 60% 60%, #b8ff829e 0%, transparent 50%);
        }

        &--blue {
            top: -10rem;
            right: 0;
            background: radial-gradient(circle at 100% 50%, #82baff91 0%, transparent 40%);
        }
    }

    @include respond(phone-small) {
        flex-direction: column;

        &__left {
            width: 100%;
            order: 2;
        }

        &__right {
            width: 100%;
            order: 1;
        }

        &__column:not(:last-child) {
            margin-right: 2rem;
        }

        &__blur {
            display: none;
        }
    }
}