.form {
    display: flex;
    min-height: 68.2rem;
    gap: 3.2rem;

    @include respond(phone-small) {
        flex-direction: column;
    }
}


.form-left {
    width: 41%;
    padding: 4rem;
    text-align: center;
    background: radial-gradient(circle at 45% 70%, #b8ff8237 0%, #82baff32 20%, $color-white 40%);
    
    &__paragraphs {
        padding: 2.8rem 0;
        
        & > p:not(:first-child) {
            position: relative;
            margin-top: 2.4rem;
            padding-top: 2.4rem;
        }
        
        & > p:not(:first-child)::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 4rem;
            height: 2px;
            background-color: $color-primary;
        }
    }
    
    &__picture {
        width: 26.1rem;
        height: 20.6rem;
    }
    
}

.form-right {
    width: 59%;
    
    &__label {
        width: 10.6rem;
    }
    
    &__row {
        display: flex;
        
        &:not(:first-child) {
            margin-top: 2.8rem;
        }
        
        & > p {
            margin-top: 1.6rem;
        }
    }
    
    &__consent {
        margin-top: 2.8rem;
        margin-left: 10.6rem;
        display: flex;
    }
}

.form-left, .form-right {
    box-shadow: 0 .8rem 3.2rem 0 rgba(12, 21, 55, 0.09);
    padding: 4rem;
    border-radius: .8rem;

    @include respond(phone-small) {
        width: 100%;
    }
}