.hero-section {
    display: flex;
    align-items: stretch;

    &__main {
        flex: 1;
        background: radial-gradient(circle at left top, #82f7ff 0%, #82ffd2 1%, $color-white 40%);

        &__content {
            padding: 20%;
        }

        &__logos {
            display: flex;
            flex-wrap: nowrap; /* Prevent wrapping */

            img:not(:last-child) {
                margin-right: 3.2rem;
            }
        }
    }

    &__right {
        flex: 1;
        height: 100%;
        position: relative;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}