@use "../mixins";

.tour {
    display: flex;
    position: relative;

    @include respond(phone-big) {
        flex-direction: column;
        align-items: center;
    }

    &__blur {
        position: absolute;
        width: 60rem;
        height: 60rem;
        z-index: -100;

        &--yellow {
            top: -15rem;
            right: 0;
            background: radial-gradient(circle at 80% 50%, #ff998293 0%, transparent 50%);
        }

        &--orange {
            top: 0;
            right: 0;
            background: radial-gradient(circle at 100% 50%, #fffb82ba 0%, transparent 50%);
        }
    }
}

.tour-left {
    flex: 1;
    width: 50%;
    padding-right: 10rem;

    
    @include respond(tab-port-medium) {
        padding-right: 7rem;
    }
    
    @include respond(phone-big) {
        width: 100%;
        padding: 0;
        margin-bottom: 6rem;
    }

    &__details {
        display: grid;
        grid-template-columns: repeat(2, 19.3rem);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 5.3rem;
        row-gap: 1.6rem;    
    }

    &__detail {
        display: flex;
        align-items: center;

        & > img:not(:last-child) {
            margin-right: 1.6rem;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 3.2rem;
        border-top: 2px solid $color-grey1;
    }
}

.tour-right {
    flex: 1;
    width: 50%;
    text-align: center;
    
    &__video-container {
        margin: 0 auto;
        width: min(47.8rem, 97%);
        height: 41.6rem;
        position: relative;
        transition: all 5s;
        
        & > iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            transition: all .5s;
        }
        
        & > .play-btn {
            @include absCenter;
        }
    }

    &__big-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__images {
        position: absolute;
        bottom: -4.3rem;
        left: -5rem;
        transition: all 1s;
    }

    &__sofa {
        width: 29.6rem;
        height: 16.8rem;
    }

    &__vase, &__chair {
        width: 9.6rem;
        height: 8rem;
    }

    @include respond(tab-port-small) {
        width: 100%;

        &__sofa, &__vase, &__chair {
            width: 50%;
            height: 50%;
        }

        &__vase, &__chair {
            width: 15%;
            height: 15%;
        }
    }

    &__checkbox, &__checkbox-close-video { display: none; }

    .close-btn {
        cursor: pointer;
        transition: all .5s;
        position: absolute;
        top: 0;
        opacity: 0;
        visibility: hidden;
    }

    &__checkbox:checked ~ iframe {
        opacity: 1;
        visibility: visible;
    }

    &__checkbox-close-video:checked ~ iframe {
        opacity: 0;
        visibility: hidden;
    }

    &__checkbox:checked ~ .tour-right__images {
        opacity: 0;
        visibility: hidden;
    }

    &__checkbox-close-video:checked ~ .tour-right__images {
        opacity: 1;
        visibility: visible;
    }

    &__checkbox:checked ~ .close-btn {
        opacity: 1;
        visibility: visible;
    }

}