.tour {
    display: flex;

    &__left {
        flex: 1;
        width: 50%;

        &__details {
            display: grid;
            grid-template-columns: repeat(2, 19.3rem);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 5.3rem;
            row-gap: 1.6rem;    
        }

        &__detail {
            display: flex;
            align-items: center;

            & > img:not(:last-child) {
                margin-right: 1.6rem;
            }
        }

        &__divider {

        }
    }

    &__right {
        flex: 1;
        width: 50%;
        text-align: center;
        
        &__house {
            position: relative;
            display: inline-block;

            & > button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        &__images {
            position: absolute;
            bottom: -4.3rem;
            left: -5rem;
        }    
    }
}