@use "../mixins";

.tour {
    display: flex;
    position: relative;

    &__left {
        flex: 1;
        width: 50%;
        padding-right: 10rem;

        &__details {
            display: grid;
            grid-template-columns: repeat(2, 19.3rem);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 5.3rem;
            row-gap: 1.6rem;    
        }

        &__detail {
            display: flex;
            align-items: center;

            & > img:not(:last-child) {
                margin-right: 1.6rem;
            }
        }

        &__contact {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 3.2rem;
            border-top: 2px solid $color-grey1;
        }
    }

    &__right {
        flex: 1;
        width: 50%;
        text-align: center;
        
        &__house {
            position: relative;
            display: inline-block;

            & > button {
                @include absCenter;
            }
        }
        
        &__images {
            position: absolute;
            bottom: -4.3rem;
            left: -5rem;
        }    
    }

    &__blur {
        position: absolute;
        width: 60rem;
        height: 60rem;
        z-index: -100;

        &--yellow {
            top: -15rem;
            right: 0;
            background: radial-gradient(circle at 80% 50%, #ff998293 0%, transparent 50%);
        }

        &--orange {
            top: 0;
            right: 0;
            background: radial-gradient(circle at 100% 50%, #fffb82ba 0%, transparent 50%);
        }
    }
}